DJANGO_DEBUG=true
DJANGO_LOCAL_PORT=8000

DJANGO_EMAIL_HOST=
DJANGO_EMAIL_USER=
DJANGO_EMAIL_PASSWORD=

DJANGO_STORAGE_DIR=./inbox

# Django superuser account for backend admin access
DJANGO_SUPERUSER_USERNAME=ddrc-admin
DJANGO_SUPERUSER_EMAIL=ddrc-admin@compiler.la
DJANGO_SUPERUSER_PASSWORD=superuser12345!

# Postgres settings
POSTGRES_HOSTNAME=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

# Django Database settings
DJANGO_DB_NAME=django
DJANGO_DB_USER=django
DJANGO_DB_PASSWORD=django_password
DJANGO_DB_FIXTURES=web/vital_records/migrations/sample_fixtures.json

PGWEB_PORT=8081

# Task queue
TASKS_DB_NAME=tasks
TASKS_DB_USER=tasks
TASKS_DB_PASSWORD=tasks_password

# https://django-q2.readthedocs.io/en/stable/configure.html
Q_POLL=5
Q_RETRY=300
Q_TIMEOUT=150
Q_WORKERS=1

# Vital records
VITAL_RECORDS_EMAIL_FROM=noreply@example.ca.gov
VITAL_RECORDS_EMAIL_TO=example@example.ca.gov
