DJANGO_LOCAL_PORT=8000

# Django superuser account for backend admin access
DJANGO_SUPERUSER_USERNAME=ddrc-admin
DJANGO_SUPERUSER_EMAIL=ddrc-admin@compiler.la
DJANGO_SUPERUSER_PASSWORD=superuser12345!

# Django storage
DJANGO_DB_FILE=django.db
DJANGO_DB_FIXTURES=web/vital_records/migrations/sample_fixtures.json
DJANGO_DB_RESET=true
DJANGO_STORAGE_DIR=.
