{% extends "vital_records/base.html" %}
{% load i18n %}
{% block inner-content %}
    <div class="row">
        <div class="col-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_form_progress.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-9">
            <h2>Confirm your order</h2>
            <p>
                If everything looks accurate, press “Submit” below to finish your request. If you need to edit request, you can go back without losing your progress.
            </p>
            <hr>
            <ul>
                <li>
                    <strong>State:</strong>
                    {{ vital_records_request.status }}
                </li>
                <li>
                    <strong>ID:</strong>
                    {{ vital_records_request.id }}
                </li>
                <li>
                    <strong>Fire:</strong> {{ vital_records_request.fire }}
                </li>
                <li>
                    <strong>Relationship:</strong> {{ vital_records_request.relationship }}
                </li>
                <li>
                    <strong>Legal attestation:</strong> {{ vital_records_request.legal_attestation }}
                </li>
            </ul>
            <hr>
            <h3>Birth record details</h3>
            <p>This is the information that will be printed on the replacement birth record.</p>
            <ul>
                <li>
                    <strong>Name:</strong> {{ vital_records_request.first_name }} {{ vital_records_request.middle_name }} {{ vital_records_request.last_name }}
                </li>
                <li>
                    <strong>County of birth:</strong> {{ county_display }}
                </li>
            </ul>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit order</button>
            </form>
            <p>
                or <a href="{% url 'vital_records:request_eligibility' %}">go back</a>
            </p>
        </div>
    </div>
{% endblock inner-content %}
