{% extends "vital_records/base.html" %}
{% load i18n %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_form_progress.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small>Step 2 of 6</small>
            <h2>What is the county of birth?</h2>
            <p class="mb-3">
                We only have records for people born in California. If you were born in a different state, contact the county clerk in the place you were born to request a new birth record.
            </p>
            <form method="post">
                <div class="w-50 m-y-md p-y-sm">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
{% endblock inner-content %}
