{% extends "vital_records/base.html" %}
{% load i18n %}
{% load form_helpers %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_form_progress.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small class="accent">Step 3 of 6</small>
            <form method="post">
                <fieldset role="group" aria-describedby="dob-hint">
                    <legend>
                        <h2>What is the date of birth?</h2>
                    </legend>
                    <p id="dob-hint">If you’re not sure, enter your approximate date of birth.</p>
                    {% csrf_token %}
                    <div class="row gap-3">
                        <div class="col-md-2">
                            {{ form.birth_month|label_with_required }}
                            {{ form.birth_month }}
                            {{ form.birth_month.help_text }}
                        </div>
                        <div class="col-md-2">
                            {{ form.birth_day|label_with_required }}
                            {{ form.birth_day }}
                            {{ form.birth_day.help_text }}
                        </div>
                        <div class="col-md-3">
                            {{ form.birth_year|label_with_required }}
                            {{ form.birth_year }}
                            {{ form.birth_year.help_text }}
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
{% endblock inner-content %}
