{% extends "core/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Replacement birth record" %}
{% endblock title %}
{% block headline %}
    {% translate "Replacement birth record" %}
{% endblock headline %}
{% block inner-content %}
    <p>You’re eligible for free replacement records</p>
    <p>
        We’re offering free replacement records for those impacted by recent wildfires. Your information helps us process your request and deliver the benefit.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Next</button>
    </form>
{% endblock inner-content %}
