{% extends "vital_records/base.html" %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_vertical_tracker.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small class="accent">Step {{ current_step }} of {{ total_steps }}</small>
            <form method="post" class="form">
                <fieldset role="group" aria-describedby="{{ form_hint_name }}">
                    <legend>
                        <h2>{{ form_question }}</h2>
                    </legend>
                    <p id="{{ form_hint_name }}" class="mb-3">{{ form_hint }}</p>
                    {% csrf_token %}
                    {% include "vital_records/_two_column_form.html" with form=form fields=form_fields %}
                </fieldset>
                <button type="submit" class="btn btn-secondary mt-4">Back</button>
                <button type="submit" class="btn btn-primary mt-4">Next</button>
            </form>
        </div>
    </div>
{% endblock inner-content %}
