{% extends "vital_records/flow_base.html" %}
{% block flow-container %}
    <form method="post" class="form">
        <fieldset role="group" aria-describedby="{{ form_hint_name }}">
            <legend>
                <h2>{{ form_question }}</h2>
            </legend>
            <p id="{{ form_hint_name }}" class="mb-3">{{ form_hint }}</p>
            {% csrf_token %}
            {% if form_layout == "date_form" %}
                {% include "vital_records/_date_form.html" %}
            {% elif form_layout == "couples_names_form" %}
                {% include "vital_records/_two_column_form.html" with form=form fields=person_1_fields label=person_1_label label_id=person_1_label_id %}
                {% include "vital_records/_two_column_form.html" with form=form fields=person_2_fields label=person_2_label label_id=person_2_label_id %}
            {% else %}
                {% include "vital_records/_two_column_form.html" with form=form fields=form_fields %}
            {% endif %}
            <div class="btn-row">
                <!-- djlint:off -->
                                                <a href
                                                    class="btn btn-outline-primary"
                                                    role="button"
                                            href="{% url previous_route pk=vital_records_request.id as previous_url %}">Back</a><button type="submit" class="btn btn-primary">Next</button>
            <!-- djlint:on -->
        </div>
    </fieldset>
</form>
{% endblock flow-container %}
