{% extends "vital_records/base.html" %}
{% load i18n %}
{% block title %}
    Replacement {{ request_type }} record
{% endblock title %}
{% block headline %}
    Replacement {{ request_type }} record
{% endblock headline %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_form_progress.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small class="accent">Step 1 of 6</small>
            <form method="post" class="form">
                <fieldset role="group" aria-describedby="name-hint">
                    <legend>
                        <h2>What is the name on the birth certificate?</h2>
                    </legend>
                    <p id="name-hint" class="mb-3">Please write the information as it appears on the birth certificate.</p>
                    {% csrf_token %}
                    {% include "vital_records/_two_column_form.html" with form=form fields=name_fields %}
                </fieldset>
                <button type="submit" class="btn btn-primary mt-4">Continue</button>
            </form>
        </div>
    </div>
{% endblock inner-content %}
