{% extends "core/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Replacement birth record" %}
{% endblock title %}
{% block headline %}
    {% translate "Replacement birth record" %}
{% endblock headline %}
{% block inner-content %}
    <small>Step 1 of 6</small>
    <h2>What is the name on the birth certificate?</h2>
    <p>Please write the information as it appears on the birth certificate.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Continue</button>
    </form>
{% endblock inner-content %}
