{% extends "vital_records/base.html" %}
{% load i18n %}
{% load form_helpers %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_form_progress.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small class="accent">Step 5 of 6</small>
            <form method="post" class="form">
                <fieldset role="group" aria-describedby="orders-hint">
                    <legend>
                        <h2 class="m-b-md p-b">Order information</h2>
                    </legend>
                    <hr>
                    {% csrf_token %}
                    <h3>How many replacement records are needed to recover those lost due to the fire(s)?</h3>
                    <div class="row">
                        <div class="col-md-3 p-b-sm m-b-md">
                            {{ form.number_of_records|label_with_required }}
                            {{ form.number_of_records }}
                            {{ form.number_of_records.errors }}
                        </div>
                    </div>
                    <hr>
                    <h3>Where should we mail your order?</h3>
                    <p class="p-b-md m-b-0">
                        Please enter an address in the United States. If you would like to request documents to an international address, please exit this process and <strong><a href="https://www.ca.gov/lafires/vital-records/#Records-from-California"
   target="_blank">complete your request via Docusign</a></strong>.
                    </p>
                    {% include "vital_records/_two_column_form.html" with form=form fields=name_fields %}
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{ form.address|label_with_required }}
                            {{ form.address }}
                            {{ form.address.errors }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.address_2|label_with_required }}
                            {{ form.address_2 }}
                            {{ form.address.errors }}
                        </div>
                        <div class="form-group col-md-5">
                            {{ form.city|label_with_required }}
                            {{ form.city }}
                            {{ form.city.errors }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.state|label_with_required }}
                            {{ form.state }}
                            {{ form.state.errors }}
                        </div>
                        <div class="form-group col-md-3">
                            {{ form.zip_code|label_with_required }}
                            {{ form.zip_code }}
                            {{ form.zip_code.errors }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="id_country">Country:</label>
                            <select disabled id="id_country" class="form-select" name="country">
                                <option value="United States" selected="">United States</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <h3>Contact information</h3>
                    <p class="m-b-md">By providing your information, you consent to being contacted regarding your order.</p>
                    <div class="row">
                        <div class="form-group col-md-5">
                            {{ form.email_address|label_with_required }}
                            {{ form.email_address }}
                            {{ form.email_address.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            {{ form.phone_number|label_with_required }}
                            {{ form.phone_number }}
                            {{ form.phone_number.errors }}
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Preview your order</button>
            </form>
        </div>
    </div>
{% endblock inner-content %}
