{% extends "vital_records/base.html" %}
{% load i18n %}
{% load form_helpers %}
{% block inner-content %}
    <h2 class="m-t-80">You’re eligible for free replacement records</h2>
    <div class="row">
        <div class="col-lg-10">
            <p class="m-b">
                We’re offering free replacement records for those impacted by recent wildfires. Your information helps us process your request and deliver the benefit.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <form method="post">
                <div class="m-y-md p-y-sm">
                    {% csrf_token %}
                    {{ form.fire|label_with_required }}
                    {{ form.fire }}
                    {{ form.fire.errors }}
                </div>
                <div class="btn-row">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
{% endblock inner-content %}
