{% extends "vital_records/base.html" %}
{% load i18n %}
{% load form_helpers %}
{% block inner-content %}
    <h2 class="m-t-80">Confirm your eligibility for an authorized copy</h2>
    <div class="row">
        <div class="col-lg-10">
            <p class="m-t p-b m-b-sm">
                {{ authorized_copy_explanation }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <form method="post">
                {% csrf_token %}
                <div class="form-group width-60pct p-b">
                    {{ form.relationship|label_with_required }}
                    {{ form.relationship }}
                </div>
                <p class="label fw-semibold">Legal attestation</p>
                <div class="form-group border b-1 rounded bg-gray-light p-a-md">
                    <div class="custom-wrapper">
                        <p class="form-help">
                            By typing your full name below, you confirm under penalty of perjury under California law that you’re eligible to request this record.
                        </p>
                        {{ form.legal_attestation|label_with_required }}
                        {{ form.legal_attestation }}
                        <small class="form-help">
                            It is my intent to sign this document electronically and I understand that the electronic signature will be the legal equivalent of having placed my handwritten signature on this form.
                        </small>
                    </div>
                    {% if form.legal_attestation.errors %}<div class="error">{{ form.legal_attestation.errors }}</div>{% endif %}
                </div>
                {% include "vital_records/_button_row.html" with submit_label="Confirm and continue to order" %}
            </form>
        </div>
    </div>
{% endblock inner-content %}
