{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {{ page_title }}
            {% endblock title %}
        | California Digital Disaster Recovery Center</title>
        <meta name="Author" content="State of California" />
        <meta name="Description" content="State of California" />
        <meta name="Keywords" content="California, government" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Public Sans font google API -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=block" />
        <!-- State Template CDN CSS -->
        <link rel="stylesheet"
              href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.4.1/css/cagov.core.css"
              integrity="sha256-OGe4kV30/3p8qPhmiORxFvLS/NrPhdifrumYA6W5W5k="
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdn.cdt.ca.gov/cdt/statetemplate/6.4.1/css/colortheme-oceanside.css"
              integrity="sha256-PC5Yszm8bAjYYFmjeL8EeB8mHo+S4dJbQt4OwA4aTmg="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <!-- State Template JavaScript CDN -->
        <script src="https://cdn.cdt.ca.gov/cdt/statetemplate/6.4.1/js/cagov.core.js"
                integrity="sha256-TOklMoh1iWoUNIVyzn+Wq8bS56lQWa0R8qklisvEALo="
                defer
                crossorigin="anonymous"></script>
        <!-- Statewide Alerts Server -->
        <script defer src="https://alert.cdt.ca.gov" crossorigin="anonymous"></script>
        <!-- BEGIN Google Tag Manager -->
        <link rel="preconnect" href="https://www.googletagmanager.com" />
        <link rel="preconnect" href="https://www.google-analytics.com" />
        <script>
            //Your GA4 Measurement ID that this website should use for website analytics
            var yourGA4MeasurementId = "G-48HMY1BXY3";

            //Support code to make this work, just leave this as is
            var stateGTMAccount = "GTM-NJ6Q4MV"; //GTM-NJ6Q4MV - all ca.gov
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
                (function () {
                dataLayer.push(arguments);
                })("config", yourGA4MeasurementId, {
                cookie_flags: "secure;samesite=lax;domain=",
                });
            })(window, document, "script", "dataLayer", stateGTMAccount);
        </script>
        <!-- END Google Tag Manager -->
    </head>
    <body class="primary">
        <header role="banner" id="header" class="global-header border-0">
            <div id="skip-to-content">
                <a href="#main-content">Skip to Main Content</a>
            </div>
            <!-- Utility header structural component -->
            <div class="utility-header" data-nosnippet>
                <div class="container">
                    <div class="flex-row">
                        <div class="social-media-links align-items-start">
                            <div class="official-collapsible-content">
                                <button type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOficial"
                                        aria-expanded="false"
                                        aria-controls="collapseOficial"
                                        class="btn-official mt-1 gray-900 color-black-hover">
                                    <span class="underline">Official California website</span>
                                    <span class="ca-gov-icon-caret-up" aria-hidden="true"></span>
                                    <span class="ca-gov-icon-caret-down" aria-hidden="true"></span>
                                </button>
                                <div class="collapse" id="collapseOficial">
                                    <div class="font-size-13 gray-900 p-y ps-1 pe-2">
                                        <span class="bold">California government websites use .ca.gov</span>
                                        <br />
                                        A .ca.gov website is part of California’s government.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Site header (branding) structural component -->
            <div class="section-default border-0">
                <div class="branding">
                    <div class="header-organization-banner">
                        <a href="https://ca.gov/">
                            <div class="logo-assets">
                                <img src="https://cdn.cdt.ca.gov/cdt/cagov/cagov-lockup/cagov-lockup-flag/cagov-lockup-flag-gradient/cagov-lockup-flag-gradient.svg"
                                     class="logo-img"
                                     alt="CA.gov official logo" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main id="main-content" class="main-content">
            {% block main-content %}
                <div class="container">
                    <div class="main-primary">
                        {% block inner-content %}
                        {% endblock inner-content %}
                    </div>
                </div>
            {% endblock main-content %}
        </main>
        <!-- global footer goes here -->
        <footer id="footer" class="global-footer">
            <div class="container">
                <div class="d-flex">
                    <a href="https://ca.gov" class="cagov-logo">
                        <span class="sr-only">CA.gov</span>
                        <span class="ca-gov-logo-svg"></span>
                    </a>
                    <ul class="footer-links">
                        <li>
                            <a href="{% url 'core:index' %}">Conditions of use</a>
                        </li>
                        <li>
                            <a href="{% url 'core:index' %}">Privacy policy</a>
                        </li>
                        <li>
                            <a href="{% url 'core:index' %}">Accessibility</a>
                        </li>
                    </ul>
                    <ul class="socialsharer-container">
                        <li>
                            <a href="https://github.com/Office-of-Digital-Services/cdt-ods-disaster-recovery">
                                <span class="ca-gov-icon-github" aria-hidden="true"></span>
                                <span class="sr-only">GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Accessible, translatable, Copyright Statement -->
            <div class="copyright">
                <div class="container text-right">
                    <span aria-hidden="true">©</span>
                    <span id="thisyear">
                        <script nonce="{{ request.csp_nonce }}">
                            document
                                .getElementById("thisyear")
                                .appendChild(document.createTextNode(new Date().getFullYear()));
                        </script>
                    </span>
                    State of California
                </div>
            </div>
            <button class="return-top">
                <span class="sr-only">Back to top</span>
            </button>
        </footer>
        <!-- Extra Decorative Content -->
        <div class="decoration-last">&nbsp;</div>
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
