<dt>Registrants’ names</dt>
<dd>
    {{ vital_records_request.person_1_first_name }}
    {{ vital_records_request.person_1_middle_name }}
    {{ vital_records_request.person_1_last_name }}
    ({{ vital_records_request.person_1_birth_last_name }})
    <br>
    {{ vital_records_request.person_2_first_name }}
    {{ vital_records_request.person_2_middle_name }}
    {{ vital_records_request.person_2_last_name }}
    ({{ vital_records_request.person_2_birth_last_name }})
</dd>
<dt>County of {{ event }}</dt>
<dd>
    {{ county_display }}
</dd>
<dt>Date of {{ event }}</dt>
<dd>
    {{ vital_records_request.date_of_event }}
</dd>
