<ol class="cagov-step-list sm d-none d-md-block d-lg-block">
    <li data-status="{% if url_name == 'request_name' %}current{% endif %}">Name</li>
    <li data-status="{% if url_name == 'request_county' %}current{% endif %}">County of birth</li>
    <li data-status="{% if url_name == 'request_dob' %}current{% endif %}">Date of birth</li>
    <li data-status="{% if url_name == 'request_parents' %}current{% endif %}">Parents’ names</li>
    <li data-status="{% if url_name == 'request_submit' %}current{% endif %}">Preview & submit</li>
</ol>
