<div class="row">
    {% if label %}
        <div class="col-12">
            <h3 id={{ label_id }}>{{ label }}
            </h3>
        </div>
    {% endif %}
    {% for field in fields %}
        <div class="form-group col-md-6 p-r-md">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}<small class="form-help">{{ field.help_text }}</small>{% endif %}
            {% if field.errors %}<div class="form-error">{{ field.errors }}</div>{% endif %}
        </div>
    {% endfor %}
</div>
