<ul class="vertical-tracker list-unstyled sm m-t-0 d-none d-md-block d-lg-block">
    <li class="row {% if url_name == 'birth_request_name' %}current{% endif %}"
        {% if url_name == 'birth_request_name' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">Name</p>
        </div>
    </li>
    <li class="row {% if url_name == 'birth_request_county' %}current{% endif %}"
        {% if url_name == 'birth_request_county' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">County of birth</p>
        </div>
    </li>
    <li class="row {% if url_name == 'birth_request_dob' %}current{% endif %}"
        {% if url_name == 'birth_request_dob' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">Date of birth</p>
        </div>
    </li>
    <li class="row {% if url_name == 'birth_request_parents' %}current{% endif %}"
        {% if url_name == 'birth_request_parents' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">Parents’ names</p>
        </div>
    </li>
    <li class="row {% if url_name == 'request_order' %}current{% endif %}"
        {% if url_name == 'request_order' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">Order info</p>
        </div>
    </li>
    <li class="row {% if url_name == 'request_submit' %}current{% endif %}"
        {% if url_name == 'request_submit' %}aria-current="true"{% endif %}>
        <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
            <div class="timeline-dot top-0">
                <span class="dot-line-inner bg-white brd-gray-100"></span>
            </div>
            <p class="small">Preview & submit</p>
        </div>
    </li>
</ul>
