<ul class="vertical-tracker list-unstyled sm m-t-0 d-none d-md-block d-lg-block">
    {% for step in all_steps %}
        <li class="row {% if step_number == forloop.counter %}current{% endif %}"
            {% if step_number == forloop.counter %}aria-current="true"{% endif %}>
            <div class="offset-md-2 col-md-10 pos-rel brd-md-left brd-gray-100 p-x-md">
                <div class="timeline-dot top-0">
                    <span class="dot-line-inner bg-white brd-gray-100"></span>
                </div>
                <p class="small">{{ step }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
