<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <img src="{{ logo_url }}"
                 width="150"
                 height="85"
                 alt="CA.gov official icon with a star and bear"
                 style="text-align: center">
        </title>
    </head>
    <body>
        <p>Hello,</p>
        <p>You recently completed an application for the following:</p>
        <p>
            <strong>Vital Record Type: Birth</strong>
        </p>
        <p>
            <strong>Number of copies: {{ number_of_copies }}</strong>
        </p>
        <p>
            Your application (attached as a PDF to this email) will be sent to CDPH for processing. CDPH typically process applications within 1-2 business days. Once processed, your records will be mailed to you, which typically takes 1-2 weeks from the date completed.
        </p>
        <p>You may use your email address [applicant email address] as your reference number.</p>
        <p>If you have any questions, please contact CDPH by emailing SOEVitalRecords@cdph.ca.gov.</p>
        <p>Thank you,</p>
        <p>California Department of Public Health - Vital Records Issuance Branch</p>
        <br>
        <br>
        <br>
        <p>
            <em style="color: #616161;">CONFIDENTIALITY NOTICE: This communication with its contents may contain confidential and/or legally privileged information. It is solely for the use of the intended recipient(s). Unauthorized interception, review, use or disclosure is prohibited and may violate applicable laws including the Electronic Communications Privacy Act. If you are not the intended recipient, please contact the sender and destroy all copies of the communication. Your receipt of this message is not intended to waive any applicable privilege.</em>
        </p>
    </body>
</html>
