{% extends "vital_records/base.html" %}
{% block inner-content %}
    <div class="row">
        <div class="col-md-3">
            {% with request.resolver_match.url_name as url_name %}
                {% include "vital_records/_vertical_tracker.html" with url_name=url_name %}
            {% endwith %}
        </div>
        <div class="col-md-9">
            <small class="accent">Step {{ step_number }} of {{ all_steps | length }}</small>
            {% block flow-container %}
            {% endblock flow-container %}
        </div>
    </div>
{% endblock inner-content %}
