{% extends "core/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Request vital records: Verified" %}
{% endblock title %}
{% block headline %}
    {% translate "Request vital records: Verified" %}
{% endblock headline %}
{% block inner-content %}
    <p>You are in a confirmed disaster affected area.</p>
    <p>
        Your verified email address: <strong>{{ email }}</strong>
    </p>
    <p>
        <a class="btn btn-primary" href="{% url 'vital_records:submitted' %}">Submit your Vital Records request</a>
    </p>
{% endblock inner-content %}
