{% extends "vital_records/base.html" %}
{% load i18n %}
{% block inner-content %}
    <h2>We received your request</h2>
    <p>
        We’ll process your request within 1-2 business days and notify you by email once it’s complete. If you have any questions about your order, you can reach out to us at:
    </p>
    <ul class="list-unstyled m-b-md">
        <li>
            <strong>Phone:</strong> <a href="tel:+800-735-2929">800-735-2929</a>
        </li>
        <li>
            <strong>Email:</strong> <a href="mailto:SOEVitalRecords@cdph.ca.gov">SOEVitalRecords@cdph.ca.gov</a>
        </li>
    </ul>
    <a class="btn btn-primary m-r-md"
       href="{% url 'vital_records:request_eligibility' %}">Request another birth record</a><a class="btn btn-outline-primary"
   href="https://www.ca.gov/lafires/get-help-online/">See more recovery resources</a>
{% endblock inner-content %}
