{% extends "vital_records/base.html" %}
{% load i18n %}
{% block inner-content %}
    <div class="col-md-10 m-b-40">
        <h2>We received your request</h2>
        <p>
            We’ll process your request within 1-2 business days and notify you by email once it’s complete. If you have any questions about your order, you can reach out to us at:
        </p>
        <ul class="list-unstyled m-b-md">
            <li>
                <p>
                    Phone: <a href="tel:+916-445-2684">(916) 445-2684</a>
                </p>
            </li>
            <li>
                <p>
                    Email: <a href="mailto:SOEVitalRecords@cdph.ca.gov">SOEVitalRecords@cdph.ca.gov</a>
                </p>
            </li>
        </ul>
        <p>
            If you’re done, sign out below or <a href="{% url 'vital_records:request_start' %}">request another birth record</a>.
        </p>
        <a class="btn btn-secondary" href="{% url 'cdt:logout' %}">Sign out of Login.gov</a>
    </div>
{% endblock inner-content %}
