{% extends "core/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Replacement birth record" %}
{% endblock title %}
{% block headline %}
    {% translate "Replacement birth record" %}
{% endblock headline %}
{% block inner-content %}
    <h2>We received your request</h2>
    <p>
        {% translate "We’ll process your request within 1-2 business days and notify you by email once it’s complete." %}
    </p>
    <p>
        <a class="btn btn-secondary" href="{% url 'cdt:logout' %}">Sign out of Login.gov</a>
    </p>
{% endblock inner-content %}
