{% extends "core/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Request vital records: Not verified" %}
{% endblock title %}
{% block headline %}
    {% translate "Request vital records: Not verified" %}
{% endblock headline %}
{% block inner-content %}
    <p>{% translate "We could not verify if you are in a disaster affected area." %}</p>
    <p>
        <a class="btn btn-secondary" href="{% url 'cdt:logout' %}">Sign out of Login.gov</a>
    </p>
{% endblock inner-content %}
