@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJPax8s3JimW3w.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJLax8s3JimW3w.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwTs572Xtc6ZYQws9YVwnNDTJzax8s3Jik.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNIfJ7QwOk1Fig.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v18/ijwRs572Xtc6ZYQws9YVwnNGfJ7QwOk1.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header {
  > div.utility-header {
    background-color: #f5f9fa;
    > div.container > div.flex-row {
      > div.social-media-links
        > div.official-collapsible-content
        > button.btn-official {
        border: none;
        font-size: 0.875rem;
        background: transparent;
        text-align: left;
        text-wrap: nowrap;
        &[aria-expanded="true"] {
          > span.ca-gov-icon-caret-up {
            display: inline-block;
          }
          > span.ca-gov-icon-caret-down {
            display: none;
          }
        }
        &[aria-expanded="false"] {
          > span.ca-gov-icon-caret-up {
            display: none;
          }
          > span.ca-gov-icon-caret-down {
            display: inline-block;
          }
        }
      }
      @media (width <= 770px) {
        flex-direction: column !important;
        > div.settings-links {
          margin-left: 0 !important;
          justify-content: flex-start;
          > a {
            margin-left: 0;
            margin-right: 1rem;
            font-size: 0.8rem;
          }
        }
      }
      @media (width <= 350px) {
        > div.social-media-links {
          flex-direction: column;
        }
      }
    }
  }
  > div.section-default > div.branding > div.header-organization-banner {
    display: flex;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    > a > div.logo-assets {
      > img.logo-img {
        max-height: 60px;
        height: 60px;
        aspect-ratio: 18/5;
      }

      @media (width <= 991px) {
        > img.logo-img {
          max-height: 50px;
        }
      }
    }
    @media (width <= 575px) {
      margin-right: 15%;
      > a > div.logo-assets {
        > img.logo-img {
          max-height: 50px;
        }
      }
    }
  }
}

#main-content {
  min-height: calc(100vh - 190px); /* Temporary fix for footer issue */
}

.m-b-40 {
  margin-bottom: 40px;
}

.cagov-step-list.sm {
  padding-top: 8px;
}

.cagov-step-list.sm > li[data-status="current"]:before {
  background-color: #005ea2;
  border-color: #005ea2;
  color: #ffffff;
}

.cagov-step-list.sm > li {
  border-left-width: 4px;
  border-color: #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 40px;
  padding-bottom: 25px;
}

.cagov-step-list.sm > li::before {
  border: 4px solid #e6e6e6;
  font-size: 14px;
  width: 32px;
  height: 32px;
  left: -18px;
  top: -8px;
  line-height: 24px;
}

.cagov-step-list > li:last-child {
  padding-left: 45px;
}

#vital-records {
  h1 {
    font-size: 47px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0;
  }

  h2 {
    font-size: 37px;
    margin: 8px 0;
  }

  h3 {
    font-size: 23px;
  }

  h3.md {
    font-size: 29px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }

  .main-primary {
    margin-top: 80px;
  }

  .main-header ol {
    margin: 0;
    padding: 0;
  }

  .main-header .external-link-icon {
    display: none;
  }

  small,
  .small {
    font-size: 14px;
  }

  small.accent {
    color: #046b99;
    font-weight: 700;
  }

  small.form-help {
    color: var(--gray-600, #72717c);
    display: block;
    font-weight: 400;
    margin-top: 4px;
  }

  .form-group {
    margin-bottom: 24px;
  }

  .form-control {
    border-radius: 0;
    font-size: 18px;
    padding: 9.5px 16px;
  }

  label {
    margin-bottom: 12px;
    font-weight: 700;
  }

  .label {
    font-size: 18px;
  }

  abbr[title="required"] {
    cursor: none;
    text-decoration: none;
  }

  form select {
    font-size: 18px;
    border-radius: 0;
    padding: 9.5px 2.25rem 9.5px 0.75rem;
    border-color: var(--gray-200, #d4d4d7);
  }

  form .btn[type="submit"] {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 18px;
    padding: 8px 16px;
  }

  dt {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.96875rem;
    margin-top: 28px;
  }

  dd {
    font-size: 18px;
    line-height: 2rem;
  }
}

.login-button {
  font-size: 18px;
  border: 0;
  border-radius: 4px;
  padding: 10.5px 16px;
}

.login-button__logo {
  margin-left: 4px;
}
